body {
  background-color: white;
  text-align: center;
}

h1, h3, p {
  text-align: center;
}

/* ------------------------------------------ */
path {
  stroke: red;
  stroke-width: 1px;
  fill: black;
}

#tooltip {
  text-align: left;
  padding: 16px;
  background-color: black;
  border: 1px solid white;
  width: auto;
  opacity: 0;
  color: white;
  position: absolute;
}

/*
 * Footer
 */
a:link {
  color: white;
  text-decoration: none;
}

/*a:visited {
  color: orangered;
  text-decoration: none;
}*/

a:hover {
  color: blue;
  text-decoration: underline;
}

.tableFooter {
  margin-top: 15px;
}

.footerSvg {
  width: 32px;
}

.line{
  stroke: blue;
  stroke-width: 2px;
  fill: none;

}

.domain{
  stroke: black;
  stroke-width: 1px;
  fill: none;

}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;

}
/* Custom Select */
.select {
  position: relative;
  display: block;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;

  margin: auto;
   margin-bottom: 5em;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495e;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}