
.card:hover .card-img-top {
  transition-duration: 0.8s; 
  transform: scale(1.3)!important;
}


.card:hover{
	transition-duration: 0.5s;
	transform: scale(1.06)!important;
    box-shadow: 0 13px 20px rgba(0,0,0,0.40), 0 12px 12px rgba(0,0,0,0.22);
}

