.jumbotron {
  /*background-image: url("/assets/c3.jpg")*/
  visibility: transparent; }

.img-thumbnail {
  border-radius: 1.2rem; }

#Projects { 
  color:white!important;
}
.container {
  z-index: 1; }
